:root {
  --correct: #2ac55e;
  --semi-correct: #eab306;
  --wrong: #94a3b8;
  --primary: #e2e8f0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
.Appp {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.keyboard {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  justify-content: center;
}
.keyboard__row {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.keyboard__letter {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  background: var(--primary);
  border-radius: 7px;
}

.correct {
  background: var(--correct);
}
.semi-correct {
  background: var(--semi-correct);
}
.wrong {
  background: var(--wrong);
}

.board {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.board__row {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.board__cell {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  border: 1px solid var(--primary);
  border-radius: 7px;
}

.backdrop {
  position:absolute;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(150, 150, 150, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 40%;
  height: 20%;
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 0px 10px var(--wrong);
}
button {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--semi-correct);
  cursor: pointer;
}