body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgba(7, 106, 199, 0.845) 3%, rgba(15, 46, 146, 0.878) 38%, rgba(20, 133, 126, 0.852) 68%, rgb(13, 81, 61) 98%);
  animation: gradient 15s ease infinite;
  background-size: 300% 300%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}


.icon,
.icon_header {
  vertical-align: middle;
  line-height: 1;
  font-size: 20px;
  margin-right: 5px;
}

.icon_header {
  font-size: 26px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

/* Header */
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  background-color: #263043;
}

.menu-icon {
  display: inline;
}

/* Sidebar */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #2e3b4e;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  margin-bottom: 30px;
}

.sidebar-title>span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.sidebar-list-item>a {
  text-decoration: none;
  color: #fff;
}

/* Main */
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: 15px 0;
}

.card {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card h3 {
  margin-bottom: 10px;
}

.card:nth-child(1) {
  background-color: #173485;
}

.card:nth-child(2) {
  background-color: #995019;
}

.card:nth-child(3) {
  background-color: #277d2b;
}

.card:nth-child(4) {
  background-color: #9a2c2c;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
}

/* Media Queries */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

}

@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}



/* StudentApp.css */

/* Sidebar */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #2e3b4e;
  overflow-y: auto;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  margin-bottom: 30px;
}

.sidebar-title>div {
  display: flex;
  align-items: center;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.close_icon {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-list-item>a {
  text-decoration: none;
  color: #fff;
}

.icon {
  margin-right: 10px;
}